html {
  font-size: 100%;
  font-family: 'Hind', sans-serif;
  color: #151515;
}
/*TEXT STYLES*/
 a {
   color:#336699;
 }
.dark {
 color: #336699;
}
.pink-color {
 color: #E94E77;
}
.light {
 color: #FFFFFF;
}
.black {
 color: #151515;
}
.dark-pink {
  color: #9A1336;
}
.uc, .page-heading {
  text-transform: uppercase;
  text-align: center;
}

.page-heading {
  font-size: 1.5em;
  margin: 1em auto 0 auto;
}
/*


p.body-text {

}*/

button.content {
  width: 9em;
  min-height: 2em;
  border-radius: 20px;
  background-color: #E94E77;
  border-color: #E94E77;
  color: #FFFFF0;
  margin: auto auto 1em;
  padding: 1em auto;
  font-size: 1.25em;
  -webkit-box-shadow: 2px 1px 2px 1px rgba(21,21,21,0.3);
-moz-box-shadow: 2px 1px 2px 1px rgba(21,21,21,0.3);
box-shadow: 2px 1px 2px 1px rgba(21,21,21,0.3);
}


h4 {
  font-size: 1.25em;
  font-family: 'Hind', sans-serif;
  font-weight: bolder;
  margin-bottom: 0;
}
p {
  margin: 0;
}

/*END DEFAULT TEXT STYLES*/


ul#myMenu {
  visibility: hidden;
  background-color: #336699;
  padding: .5em;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  height: 38vh;
  top: 22vh;
  right: 2vw;
  list-style: none;
  z-index: 12;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
  -moz-box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
  box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
}
ul#myMenu > ul {
  list-style-type: none;
  padding: 0;
}
ul#myMenu > ul > li {
  display: block;
  text-align: center;
  margin-bottom: 1.5em;
  color: #FFF;

}
ul a {
  color: #FFF;
  margin-bottom: 2em;
}
i.fa.fa-angle-double-down {
  font-size: 32px;
  color: #E94E77;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
  background-color: #FFF;
  border-radius: 50%;
  visibility: visible;
}
i.fa.fa-angle-double-down:hover {
  background-color: #E94E77;
  color: #FFF;
}

li a i.fa {
  font-size: 2em;
  text-align: center;
  margin: 0 auto 1em;
  padding: 0 auto;
}
h1 {
  font-size: 2em;
  font-family: 'Baloo', sans-serif;
  color: #336699;

}
h1 span {
  color: #E94E77;
}

 h1.wordmark {
   margin-top: 1em;
   display: block;
}
.wordmark {
  font-family: 'Baloo', sans-serif;
}

span.logo {
  padding: 0;
}

#home {background-color: #FFFFFF;
  height: 100vh;display: flex;flex-flow: column nowrap;justify-content: flex-start;align-items: center;background-image: url(https://clf222.github.io/pbp/images/hero-lg-3x.jpg);background-size: cover;}

h2.heading {
  margin-bottom: 2em;
}
.text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1.5em 2em 1.5em;
  margin-bottom: 3em;
}

.socials {
  display: flex;
  font-size:2em;
  justify-content: space-around;
  color: #336699;
  width: 100%;
  margin: 0 0 .5em 0;
}


a:hover{
  color: #E94E77;
}
a.active {
  text-decoration: underline;
}
button.content a {
  color: #FFFFF0;
  text-decoration: none;
}
button.content a:hover {
  text-decoration: underline;
}

#home h3 {
  font-size: 1.5em;
  font-family: 'Hind', sans-serif;
  line-height: 1.5em;
  padding: 0 1.5em;
  text-align: center;
}
#home h3, #home h4{
  color: #336699;
}


#about {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.dark .page-heading {
  margin-top: .5em;
}

  .about-text {
    background-color: #336699;
    background-image: url("images/gplay.png");
    background-repeat: repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40vh;
    padding: 1em;
  }

.about-text .light h2 {
  text-align: center;
  margin: 2vh 2vw 2vh;
  padding-bottom: 1em;
}
p.light.heading {
  font-size: 1.5em;
  margin: 2vh 2vw 2vh;
  text-align: center;
}
p.body-text {
 margin: 1em 0 0 0;
 font-size: 1em;
 text-align: center;
}
#ig {
 background-color: #FFFFFF;
 height: 60vh;
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: center;
 padding-bottom: 8px;
}


.ig-text h3.dark {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.25em;
}



.home-text {
    background: rgba(255,255,255,.7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    -moz-box-shadow: 10px 10px 19px 0px rgba(115,115,115,0.29);
    -moz-box-shadow: 0px 18px 28px 0px rgba(181,181,181,1);
    box-shadow: 0px 18px 28px 0px rgba(41, 41, 41, 0.4);
    height: 100vh;
    width: 100vw;
  }
#menu {background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-image: url(https://clf222.github.io/pbp/images/menu-small.jpg);
    background-size: cover;

  }


.menu-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  background: rgba(255,255,240,.8);

  -moz-box-shadow: 10px 10px 19px 0px rgba(115,115,115,0.29);
  -moz-box-shadow: 0px 18px 28px 0px rgba(181,181,181,1);
  box-shadow: 0px 18px 28px 0px rgba(41, 41, 41, 0.4);
  height: 100vw;
  width: 100vw;
}


 .step {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1em auto;
   padding-bottom: 0;
}

.number {
  font-size: 1.5em;
  color: #FFFFF0;
  background-color: #E94E77;
  border-radius: 50%;
  height: 36px;
  width: 36px;

  line-height: 36px;
  text-align: center;
  -webkit-box-shadow: 4px 1px 2px 1px rgba(21,21,21,0.3);
-moz-box-shadow: 4px 1px 2px 1px rgba(21,21,21,0.3);
box-shadow: 4px 1px 2px 1px rgba(21,21,21,0.3);
}
.step-text {
  width: 50vw;
}
.step h5, .step p {
  font-size: 1em;
  text-align: center;
}
.step h5 {
  margin: 1em auto .5em auto;
  flex-basis: 50vw;
}
.step p {
  margin: 0 auto .5em auto;
  flex-basis: 50vw;
}

#events {
  background-image: url(https://clf222.github.io/pbp/images/surf.jpg);
  background-size: cover;
  background-color: rgba(233, 78, 119, 0.2);
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.event-listing {
display: flex;
flex-flow: column nowrap;
justify-content: space-between;
align-items: center;
/*flex-basis:55vw;
max-height: 55vh;
margin: auto 0;*/
}
 .menu-text, .events-text {
  width: 100vw;
  height: 100vh;

}
.events-text {
  background: rgba(255,255,255,.8);

  -moz-box-shadow: 10px 10px 19px 0px rgba(115,115,115,0.29);
  -moz-box-shadow: 0px 18px 28px 0px rgba(181,181,181,1);
  box-shadow: 0px 18px 28px 0px rgba(41, 41, 41, 0.4);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

}
.event-listing, .menu-listing {
  margin: auto 0;
}
.menu-listing {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.event {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
}
p.date {
  margin-top: 0;
  font-weight: bold;
  color: #336699;
  text-align: center;
}
.party {
  font-size: 1.5em;
  font-weight: bold;

}


#location {
  background-color: #FFFFF0;

  /*padding-bottom: 1em;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url("images/gplay.png");
  background-repeat: repeat;
}
.location-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  justify-content: flex-start;
  margin-bottom:0;
  height: 100vh;
}

#map {
  height: 40vh;
  width: 100vw;
  background-color: #f6f6f6;
}
.address {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}
.address h4 {
  margin-top: 0;
  line-height: 1.5em;
}

.hours {
  margin-top: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.hours h3.dark {
  margin-top: 3em;
}
.hours p {
  line-height: 1.5em;
}
#footer {
  background-color: rgba(233, 78, 119, 0.2);
  /*align-self: flex-end;*/
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;


}

@media (min-width: 450px) {
  ul#myMenu {
    visibility: visible;
  }

h1 {
  font-size: 3em;
}
p.body-text {
  font-size: 1.25em;
}
.page-heading {
  font-size: 2em;
}
.socials {
  font-size: 3em;
}
.socials i.fa {
  display: flex;
}

  a {
    text-decoration: none;
    color: #336699;
  }
  i.fa.fa-angle-double-down {
    display: none;
  }

button.content {
    margin-bottom: 2em;
  }
  .home-text, .menu-text, .events-text {
    width: 80vw;
    height: 90vh;
    margin: 10vw auto;
    padding: 3em auto 0;
}
  #menu {
    background-color: #FFFFF0;
    padding-bottom: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  .menu-text, .events-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  .menu-listing {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .number {
    margin: 1em 1em 0 0;
  }

  .step {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em auto;
    /*padding: 0 1em;*/

  }

.step-text {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50vw;

    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 1em;
    padding: 0 1em;
  }

  .number {
    font-size: 2em;
    height: 48px;
    width: 48px;
    line-height: 48px;
    margin: 0 0 .5em 0;
    flex-shrink: 0;
  }

  .step h5, .step p {
    text-align: left;
  }

  .step h5 {
    margin: 0;
  }
  .step p {
    margin: 0 auto 1em 0;
  }
}

@media (min-width: 768px) {
  .home-text, .events-text, .menu-text {
    width: 80vw;
    height: 80vh;
    margin: 10vw auto;
    padding: 3em auto;
  }
  h1 {
    font-size: 4em;
  }

  #location {
    background-color: #FFFFF0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url("images/gplay.png");
    background-repeat: repeat;
  }
  .location-text {
    margin-top: 2vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
  }
  #map {
    height: 100vh;
    width: 60vw;
    background-color: #f6f6f6;
  }



.step h5, .step p {
  font-size: 1.25em;
}

.hours {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

footer {
  width: 100%;
  margin-top: 0;
  }
}
