html {
  font-size: 100%;
}
body {
  font-family: 'Hind', sans-serif;
  color: #151515;
}
.hamburger, .cross {
  background-color: #336699;
  border-radius: 5px;
  color: #FFFFF0;
  line-height: 1;
  cursor:pointer;
  outline:none;
  border:0;
  position: absolute;
  left: 0;
  font-weight: bold;
  margin-left: 25px;
  padding:0 15px 0 15px;
  width: 60px;
  height: 45px;
  visibility: visible;
}
.hamburger{
  z-index:9;
  font-size: 36px;
}
.cross{
  z-index:11;
  font-size: 60px;
}

nav {
  visibility: hidden;
}

.menu{z-index:10; font-weight:bold; font-size:1em; width:100%; background:#FFFFF0;  position:absolute; margin-top: 12vh; text-align:center; font-size:1em;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#336699;}
.menu ul li a:hover {  color:#E94E77; text-decoration:none;}
.menu a{text-decoration:none; color:#336699;}
.menu a:hover{text-decoration:none; color:#E94E77;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}


/*span{padding-left:20px;}*/
a{color:#336699;}
/*TEXT STYLES*/

.dark {
 color: #336699;
}
.pink {
 color: #E94E77;
}
.light {
 color: #FFFFFF;
}
.black {
 color: #151515;
}

}
.heading {
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}
.page-heading {
  text-transform: uppercase;
}



.body-text {
  font-family: 'Hind', sans-serif;
  font-size: 1em;
}

button.content {
  width: 9em;
  height: 2.125em;
  border-radius: 20px;
  background-color: #336699;
  color: #FFFFF0;
}


h4 {
  font-size: 1.25em;
  font-family: 'Hind', sans-serif;
  font-weight: bolder;
}


/*END DEFAULT TEXT STYLES*/
header
{/*display:block;*/
    background-color: #f4a6bb;
    height: 8vh;
    font-size:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
}


.wordmark h3  {
font-size: 1.25em;
font-family: 'Baloo', sans-serif;
display: flex;
justify-content: center;
}

span.logo {
  padding: 0;
}

#home {

  background-color: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#home img.hero {
  width: 100%;
  max-height: 34vh;

}
.text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-right: .5em;
  padding-left: .5em;
  padding-top: 5vh;


}
.socials {
  padding-top: 1em;
  display: flex;
  font-size: 2.75em;
  justify-content: space-around;
  color: #336699;
  width: 100%;
}


a:hover{
  color: #E94E77;
}

#home h3 {
  font-size: 1.5em;
  font-family: 'Baloo', sans-serif;
  line-height: 1.5em;
}
#home h3, #home h4{
  color: #336699;
}




#about {
  background-color: #336699;
  padding-top: 12vh;
  height: 52vh;
  padding-right: .5em;
  padding-left: .5em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

}
#about h2 {
  color: #FFFFFF;
}
#ig {
 background-color: #FFFFFF;
 height: 40vh;
}

#menu {
  border-color: #FFFFF0;
  padding-top: 8vh;
  padding-right: .5em;
  padding-left: .5em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
.step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.number {
  font-size: 1.25em;
  color: #FFFFF0;
  background-color: #E94E77;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 2em;
  line-height: 32px;
  text-align: center;

}
.step h5, .step p {
  font-size: 1.25em;
  flex-basis: 10em;
  margin-top: 0;
}


#events {
  background-color: rgba(233, 78, 119, 0.2);
  padding-right: .5em;
  padding-left: .5em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#location {
  background-color: #FFFFFF;
  padding-right: .5em;
  padding-left: .5em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 98.2vh;
}
#location img {
  height: 40vh;
  width: 100vw;
}

#footer {
  background-color: rgba(233, 78, 119, 0.2);
  height: 7.2vh;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
header {
  visibility: visible;
}

  nav {
    visibility: visible;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 40vh;
    top: 10vh;
    right: 5vw;
    max-width: 3em;
  mix-blend-mode: color-dodge;
    list-style: none;
  }
i.fa {
    display: list-item;
    font-size: 2em;

  }
  .socials i.fa {
    display: flex;
  }
  a {
    text-decoration: none;
  }
  .hamburger, .cross {
    visibility: hidden;
  }
}
