html {
  font-size: 100%;
}
body {
  font-family: 'Hind', sans-serif;
  color: #151515;
}
.hamburger{
  background-color: #336699;
  border-radius: 5px;
  /*position: absolute;*/
  top:.5em;
  left: .5em;
  margin-left: .5em;
  /*line-height:2em;*/
  padding: 2px 5px;
  /*padding:5px 15px 0px 15px;*/
  color:#FFFFF0;
  border:0;
  font-size:36px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:9;
}
.cross{
  background-color: #336699;
  border-radius: 5px;

  /*position: absolute;*/
  top:.5em;
  left: .5em;
  margin-left: .5em;
  font-size:3em;
  line-height:36px;
  /*line-height:2em;*/
  padding: 2px 6px;

  /*padding:7px 15px 0px 15px;*/
  /*padding:5px 15px 0px 15px;*/
  color:#FFFFF0;
  border:0;
  /*font-size:36px;*/
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:9;
}

.menu{z-index:10; font-weight:bold; font-size:1em; width:100%; background:#FFFFF0;  position:absolute; margin-top: 12vh; text-align:center; font-size:1em;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#151515;}
.menu ul li a:hover {  color:#E94E77; text-decoration:none;}
.menu a{text-decoration:none; color:#336699;}
.menu a:hover{text-decoration:none; color:#E94E77;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}


span{padding-left:20px;}
a{color:#336699;}
/*TEXT STYLES*/

.dark {
 color: #336699;
}
.pink {
 color: #E94E77;
}
.light {
 color: #FFFFFF;
}
.black {
 color: #151515;
}
.wordmark {
  font-size: 1.25em;
  font-family: 'Baloo', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 1em auto;
}
.heading {
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}
.page-heading {
  text-transform: uppercase;
}

.body-text {
  font-family: 'Open-Sans', sans-serif;
  font-size: 1em;
}

button.content {
  width: 9em;
  height: 2.125em;
  border-radius: 20px;
  background-color: #336699;
  color: #FFFFF0;
}


h4 {
  font-size: 1em;
}


/*END DEFAULT TEXT STYLES*/
header
{/*display:block;*/
  background-color: rgba(233, 78, 119, 0.2);
  height: 8vh;
  font-size:1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

span.logo {
  padding: 0;
}

#home {
  padding-top: 8vh;
  background-color: #FFFFFF;
  height: 92vh;
  padding-right: .5em;
  padding-left: .5em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#home h3 {
  color: #336699;
  font-size: 1.5em;
  font-family: 'Baloo', sans-serif;
  line-height: 1.5em;
}

.socials {
  display: flex; 


}




#about {
  background-color: #336699;
  padding-top: 12vh;
  height: 52vh;

}
#about h2 {
  color: #FFFFFF;
}
#ig {
 background-color: #FFFFFF;
 height: 40vh;
}

#menu {
  border-color: #FFFFF0;
  padding-top: 12vh;
  height: 100vh;

}

#events {
  background-color: rgba(233, 78, 119, 0.2);
  height: 100vh;
}

#location {
  background-color: #FFFFFF;
  height: 98.2vh;
}
#location img {
  height: 40vh;
  width: 100vw;
}

#footer {
  background-color: rgba(233, 78, 119, 0.2);
  height: 7.2vh;

}
