html {
  font-size: 100%;
  font-family: 'Hind', sans-serif;
  color: #151515;
}

.hamburger, .cross {
  background-color: #336699;
  border-radius: 5px;
  color: #FFFFF0;
  line-height: 1;
  cursor:pointer;
  outline:none;
  border:0;
  position: absolute;
  left: 0;
  font-weight: bold;
  margin-left: 25px;
  padding:0 15px 0 15px;
  width: 60px;
  height: 45px;
  visibility: visible;
}
.hamburger{
  z-index:9;
  font-size: 36px;
}
.cross{
  z-index:11;
  font-size: 60px;
}



.menu{z-index:10; font-weight:bold; font-size:1em; width:100%; background:#FFFFF0;  position:absolute; margin-top: 12vh; text-align:center; font-size:1em;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#336699;}
.menu ul li a:hover {  color:#E94E77; text-decoration:none;}
.menu a{text-decoration:none; color:#336699;}
.menu a:hover{text-decoration:none; color:#E94E77;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}


/*span{padding-left:20px;}*/
a{color:#336699;}
/*TEXT STYLES*/

.dark {
 color: #336699;
}
.pink-color {
 color: #E94E77;
}
.light {
 color: #FFFFFF;
}
.black {
 color: #151515;
}
.dark-pink {
  color: #9A1336;
}


.uc, .page-heading {
  text-transform: uppercase;
  text-align: center;
}

.page-heading {
  font-size: 1.5em;
  margin: 1em auto 0 auto;
}



.body-text {
  font-size: 1em;
  text-align: center;
}

button.content {
  width: 9em;
  min-height: 2em;
  border-radius: 20px;
  background-color: #E94E77;
  border-color: #E94E77;
  color: #FFFFF0;
  margin: auto auto 1em;
  padding: 1em auto;
  font-size: 1.25em;
  -webkit-box-shadow: 2px 1px 2px 1px rgba(21,21,21,0.3);
-moz-box-shadow: 2px 1px 2px 1px rgba(21,21,21,0.3);
box-shadow: 2px 1px 2px 1px rgba(21,21,21,0.3);
}


h4 {
  font-size: 1.25em;
  font-family: 'Hind', sans-serif;
  font-weight: bolder;
  margin-bottom: 0;
}
p {
  margin: 0;
}

/*END DEFAULT TEXT STYLES*/
header
{
    background-color: #f4a6bb;
    height: 8vh;
    font-size:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
}
nav#myMenu {
  background-color: #336699;
  padding: .5em;
  border-radius: 5px;
  overflow: hidden;
  /*display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;*/
  position: fixed;
  height: 40vh;
  top: 10vh;
  right: 4vw;
  /*max-width: 3em;*/
  list-style: none;
  z-index: 12;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
  -moz-box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
  box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
}
nav#myMenu > ul {
  list-style-type: none;
  padding: 0;
}
nav#myMenu > ul > li {
  display: block;
  text-align: center;
  margin-bottom: 1.5em;

}
nav a {
  color: #FFF;
}

li i.fa {
  font-size: 2em;
}

.wordmark h3  {
font-size: 1.25em;
font-family: 'Baloo', sans-serif;
display: flex;
justify-content: center;
}

span.logo {
  padding: 0;
}

#home {background-color: #FFFFFF;
  height: 100vh;display: flex;flex-flow: column nowrap;justify-content: flex-start;align-items: center;background-image: url(https://clf222.github.io/pbp/images/hero-lg-3x.jpg);background-size: cover;}

h2.heading {
  margin-bottom: 2em;
}
.text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.socials {
  padding: 1em 0;
  display: flex;
  font-size:1.5em;
  justify-content: space-around;
  color: #336699;
  width: 100%;
}


a:hover{
  color: #E94E77;
}
a.active {
  text-decoration: underline;
}
button.content a {
  color: #FFFFF0;
  text-decoration: none;
}
button.content a:hover {
  text-decoration: underline;
}

#home h3 {
  font-size: 1.5em;
  font-family: 'Baloo', sans-serif;
  line-height: 1.5em;
  text-align: center;
}
#home h3, #home h4{
  color: #336699;
}


#about {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.dark .page-heading {
  margin-top: .5em;
}

  .about-text {
    background-color: #336699;
    background-image: url("images/gplay.png");
    background-repeat: repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40vh;
  }

.about-text .light h2 {
  text-align: center;
  margin: 2vh 2vw 2vh;
}
p.light.heading {
  font-size: 1.5em;
  margin: 2vh 2vw 2vh;
  text-align: center;
}
.body-text {
 margin: 2vh 2vw 2vh;
}
#ig {
 background-color: #FFFFFF;
 height: 60vh;
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: center;
 padding-bottom: 8px;
}


.ig-text h3.dark {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.25em;
}



.home-text {
    background: rgba(255,255,255,.7);
    padding: 1.5em;
    /* padding: 20px; */
    margin-top: 10vh;
    margin-right: 2em;
    margin-left: 2em;
    /* -webkit-box-shadow: 10px 10px 19px 0px rgba(115,115,115,0.29); */
    -moz-box-shadow: 10px 10px 19px 0px rgba(115,115,115,0.29);
    /* box-shadow: 18px 12px 35px 0px rgba(0, 0, 0, 0.29); */
    /* -webkit-box-shadow: 0px 18px 28px 0px rgba(181,181,181,1); */
    -moz-box-shadow: 0px 18px 28px 0px rgba(181,181,181,1);
    box-shadow: 0px 18px 28px 0px rgba(41, 41, 41, 0.4);
  }
#menu {background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-image: url(https://clf222.github.io/pbp/images/menu-small.jpg);
    background-size: cover;

  }


.menu-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /*padding: -1em 1em 1em 1em;*/
  margin: 10vh 2em 0;
  background: rgba(255,255,240,.8);
  padding: 1.5em;
  width: 60vw;
  /*padding: 3em 3em 6em 3em;*/

  /* -webkit-box-shadow: 10px 10px 19px 0px rgba(115,115,115,0.29); */
  -moz-box-shadow: 10px 10px 19px 0px rgba(115,115,115,0.29);
  /* box-shadow: 18px 12px 35px 0px rgba(0, 0, 0, 0.29); */
  /* -webkit-box-shadow: 0px 18px 28px 0px rgba(181,181,181,1); */
  -moz-box-shadow: 0px 18px 28px 0px rgba(181,181,181,1);
  box-shadow: 0px 18px 28px 0px rgba(41, 41, 41, 0.4);
  height: 80vh;
}


.step {
  display: block;
  margin: 0 auto;
  padding-bottom: 0;
}

.number {
  font-size: 1.5em;
  color: #FFFFF0;
  background-color: #E94E77;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin: 0 auto 0 auto;
  line-height: 36px;
  text-align: center;
  -webkit-box-shadow: 4px 1px 2px 1px rgba(21,21,21,0.3);
-moz-box-shadow: 4px 1px 2px 1px rgba(21,21,21,0.3);
box-shadow: 4px 1px 2px 1px rgba(21,21,21,0.3);
}
.step h5, .step p {
  font-size: 1em;
  text-align: center;
}
.step h5 {
  margin: 1em auto .5em auto;
  flex-basis: 60%;
}
.step p {
  margin: 0 auto .5em auto;
  flex-basis: 60%;
}

#events {
  background-image: url(https://clf222.github.io/pbp/images/surfshop.jpg);
  background-size: cover;
  background-color: rgba(233, 78, 119, 0.2);
  padding: 1.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.events-text {
  background: rgba(255,255,255,.8);
  margin: 10vh 2em 0;
  width: 60vw;
  height: 80vh;
  -moz-box-shadow: 10px 10px 19px 0px rgba(115,115,115,0.29);
  -moz-box-shadow: 0px 18px 28px 0px rgba(181,181,181,1);
  box-shadow: 0px 18px 28px 0px rgba(41, 41, 41, 0.4);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

}
.event-listing {
  margin: auto 0;
}
.event {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
}
p.date {
  margin-top: 0;
  font-weight: bold;
  color: #336699;
}
.party {
  font-size: 1.5em;
  font-weight: bold;

}


#location {
  background-color: #FFFFF0;

  /*padding-bottom: 1em;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url("images/gplay.png");
  background-repeat: repeat;
}
.location-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  justify-content: flex-start;
  margin-bottom:0;
  height: 100vh;
}

#map {
  height: 40vh;
  width: 100vw;
  background-color: #f6f6f6;
}
.address {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}
.address h4 {
  margin-top: 0;
  line-height: 1.5em;
}

.hours {
  margin-top: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.hours h3.dark {
  margin-top: 3em;
}
.hours p {
  line-height: 1.5em;
}
#footer {
  background-color: rgba(233, 78, 119, 0.2);
  /*align-self: flex-end;*/
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;


}

@media (min-width: 450px) {
header {
  visibility:hidden;
}
/*nav#myMenu {
  display: inline;
  background-color: #336699;
  padding: .5em;
  border-radius: 5px;*/
  /*visibility: visible;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;*/
  /*position: fixed;
  height: 50vh;
  top: 10vh;
  right: 4vw;
  max-width: 3em;
  list-style: none;
  z-index: 12;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
  -moz-box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
  box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
}*/
/*li a i.fa {
  background-color: #336699;
  padding: .5em;
  border-radius: 5px;
  visibility: visible;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 50vh;
  top: 10vh;
  right: 4vw;
  max-width: 3em;
  list-style: none;
  z-index: 12;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
  -moz-box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);
  box-shadow: 2px 2px 3px 1px rgba(21,21,21,0.5);

}*/
h1 {
  font-size: 4em;
  /*display: inherit;*/
  font-family: 'Baloo', sans-serif;
  color: #336699;
}
h1 span {
  color: #E94E77;
}
.body-text {
  font-size: 1.25em;
}
.page-heading {
  font-size: 2em;
}


  .socials i.fa {
    display: flex;
  }
  a {
    text-decoration: none;
    color: #336699;
  }
  a:active {
    color:
  }
  .hamburger, .cross {
    visibility: hidden;
  }
button.content {
    margin-bottom: 2em;
  }

  #menu {
    background-color: #FFFFF0;
    padding-bottom: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  .menu-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 0 0 0;
    /*height: 62vh;*/
  }


  .step {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em 1em 2em 1em;
  }

.step-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 16px;
  }

  .number {
    font-size: 2em;
    height: 48px;
    width: 48px;
    line-height: 48px;
    margin: 0 0 .5em 0;
    flex-shrink: 0;
  }


  .step h5, .step p {
    font-size: 1.25em;
    text-align: left;

  }
  .step h5 {
    margin: 0;
  }
  .step p {
    margin: 0 auto 1em 0;
  }
}

@media (min-width: 768px) {
  #location {
    background-color: #FFFFF0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url("images/gplay.png");
    background-repeat: repeat;
  }
  .location-text {
    margin-top: 2vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
  }
  #map {
    height: 100vh;
    width: 60vw;
    background-color: #f6f6f6;
  }
.menu-text, .events-text {
  height: 60vh;
}
.event-listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 60vw;
  max-height: 30vh;
  margin: auto 0;

}
  .hours {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
footer {
  /*align-self: flex-start;*/
  width: 100%;
  margin-top: 0;
}
}
